.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  width: max-content;
  margin: 0 auto;
}
.Signup,
.Signin {
  font-family: sans-serif;
  box-sizing: border-box;
  /* background-color: #484d60; */
  background: #ffffff;
  height: 25rem;
  width: max-content;
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3rem 0px;
}
.Signup {
  height: 30rem;
  padding: 1rem 3rem;
}
.form-group {
  position: relative;
  width: max-content;
}
.email,
.password,
.name,
.confirm-password,
.caption {
  line-height: 2rem;
  font-size: 1.6rem;
  padding: 0px 1.4rem;
  height: 5.2rem;
  background: #ffffff;
  border: 1px solid #4d5869;
  border-radius: 4px;
  font-size: 1.8rem;
  color: #484d60;
}
.auth-label {
  position: absolute;
  transform: translateY(-50%);
  left: 1.2rem;
  padding: 0 4px;
  background: #fff;
  color: #4d5869;
  font-weight: 500;
  font-size: 1.4rem;
}

.confirmPassword {
  line-height: 2rem;
}
.login-btn,
.signup-btn {
  padding: 5px 0px;
  font-size: 1.8rem;
  font-stretch: ultra-expanded;
  background-color: dodgerblue;
  border: 0px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
.disabled {
  opacity: 0.5;
  cursor: default;
}

/*
 *
 *
 *
 *Auth Loader and Error
 *
 *
 */
.auth-loading {
  font-size: 17px;
  background: white;
  margin-left: 10px;
  padding: 10px;
}
.auth-loading::after {
  font-size: 50px;
}

.error {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #ff000091;
  color: white;
  font-size: 20px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  margin-top: 1px;
}
.error span {
  position: absolute;
  left: -3.5px;
}
.noaccount,
.alreadyaccount {
  border: 1px solid black;
  padding: 2rem 1.6rem;
  background: white;
  font-size: 2rem;
}
/*
 *
 *
 *
 * SIGNUP IMAGE UPLOAD *
 *
 *
 *
 */
.upload-dp-form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  width: 13rem;
  margin-bottom: 1rem;
}
.ip-upload {
  opacity: 0;
  width: 0;
  height: 1rem;
}
.lb-upload {
  border: 1px solid black;
  text-align: center;
  padding: 1rem 0px;
  width: 20rem;
  background: white;
}
.clear-dp-box {
  text-align: right;
}
.clear-dp {
  width: max-content;
  padding: 2px 5px;
}
.dp-preview {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin-top: -1rem;
}
