.profile {
	/* border: 1px solid black; */
	width: 80vw;
	margin: 20px auto;
	max-width: 700px;
	background-color: white;
	min-width: 400px;
}
.profile__head {
	display: grid;
	grid-template-columns: 4fr 6fr;
	grid-template-rows: 2fr 2fr 1fr;
	position: relative;
}
.profile__picture {
	width: 100px;
	height: 100px;
	/* border: 1px solid black; */
	grid-row: 1 / -1;
	margin: 15px 10px;
}
.profile__picture img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.profile__main {
	position: relative;
	display: flex;
	align-items: center;
	padding-top: 15px;
}
.profile__name {
	text-transform: capitalize;
	margin-right: 40px;
}
.profile__email {
	display: flex;
	align-items: center;
	font-weight: 300;
	text-decoration: underline;
}
.profile__stats {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto 0;
	font-size: 1.6rem;
}
.profile__follow > button {
	border: 0px;
	background-color: #0095f6;
	color: white;
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}
.profile__follow:hover {
	opacity: 0.7;
}

/*.profile-posts {
  width: 92%;
  height: auto;
  margin: 10px 0px;
}
 */
@media (max-width: 500px) {
	.profile__head {
		height: 125px;
	}
	.profile__main {
		padding-top: 15px;
	}
	.profile__name {
		font-size: 2.3rem;
	}
	.profile__stats {
		font-size: 1.2rem;
	}
}
