.not-found > b {
	font-size: 1.9rem;
}
.not-found {
	font-size: 1.7rem;
	text-align: center;
}

.b {
	font-weight: 500;
}
.dn {
	display: none;
}
.fl-ct {
	display: flex;
	justify-content: center;
	align-items: center;
}
.top-55 {
	margin-top: 55px;
}
.ht-50 {
	height: 50rem;
}
.ps-rl {
	position: relative;
}
.ps-ab {
	position: absolute;
}
.fs-sm {
	font-size: 13px;
}
.fs-lg {
	font-size: 20px;
}
.lg {
	background: limegreen;
	color: limegreen;
}
.gy {
	background: gray;
	color: gray;
}

.cu-po {
	cursor: pointer;
}
